/* Styles go here */


body {
    background-color: lightblue
}

p {
    color : black;
    background-color: lightblue;
    width: inherit; 
    position: relative;
}

h1 {
    color: black;
}

#divSettings 
{
    color: black;
}


h1 {
    color: navy;
    margin-left: 20px;
}